.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-items-main {
  border-bottom: 1px solid pink;
  border-top: 1px solid pink;
}

.nav-items-secondary {
  border-bottom: pink 1px solid;
  border-top: pink 1px solid;
}

.nav-items-secondary:hover {
  border-top: 1px solid palevioletred;
  border-bottom: 1px solid palevioletred;
  cursor: pointer;
}

.preview-game:hover {
  background: lightcoral;
  padding: 0 3px;
  color: white;
}

.league-item:hover {
  background: whitesmoke;

  color: black;
}

.list-group-item.active {
  color: black;
}

.list-group-item {
  border-radius: 0 !important;
}

.active {
  background: #db9065 !important;
}

/* .innactive {
  color: grey;
  background: whitesmoke;
  opacity: 0.8;
} */

.aside-item {
  background: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.aside-menu {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 1fr;
  max-height: 353px;
}

.aside-item:nth-child(3) {
}

.standings-button {
  font-size: 0.8rem;
  padding: 0 2.5px;
  background: none;
  color: black;
  border: none;
  margin-bottom: 1px;
  border: 1px solid black;
}
.standings-button:hover {
  text-decoration: none;
  background: #fdfd96;
  color: black;
  border: none;
}
